/* Первое задание */
#greycol {
    color: grey;
}
.yellow {
    color: yellow;
}
.text-box > div > p {
    color: red;
}
h3:first-child {
    color: pink;
}
p:nth-child(7) {
    color: green;
}
/* Второе задание */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.monday {
    background-color: lawngreen;
}
.monday:active {
    color: green;
}
.tuesday {
    background-color: gold;
}
.tuesday:visited {
    color: blue;
}
.wednesday {
    background-color: red;
}
.wednesday:hover {
    color: deeppink;
}
.thursday {
    background-color: blue;
}
.thursday:focus {
    color: gold;
}
.friday {
    background-color: green;
}
.friday:not(.thursday) {
    color: lawngreen;
}